<div class="content" role="main">
        <div>
          <h1>Welcome to Wordophile</h1>
        </div>
         <div class="card-container"> <!--open card container -->
          
          <a class="card">
            <span>Add Words</span>
          </a>
      
      
          <a class="card">
            <span>Revise Now</span>
          </a>
      
      
          <a class="card">
            <span>View All</span>
          </a>
      
        </div><!--close card container -->
        </div>
      